.home-background {
    background-image: url('../home/home-picture/R.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
.text-center {
    color: black;
}